name: Deploy NetSuite GCP Functions

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.HCL_GCP_CREDENTIALS }}'

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ secrets.HCL_GCP_PROJECT_ID }}

      - name: Deploy netsuite-middleware-function
        run: |
          cd poc_gcp_functions/netsuite_middleware_function
          cp -r ../common .
          gcloud functions deploy netsuite-middleware-function \
            --gen2 \
            --runtime=python311 \
            --trigger-http \
            --allow-unauthenticated \
            --entry-point=netsuite_handler \
            --region=us-central1 \
            --source=. \
            --memory=1GiB \
            --timeout=300s \
            --service-account=hcl-email-automation@hcl-email-automation-project.iam.gserviceaccount.com \
            --set-env-vars GCP_PROJECT_ID=${{ secrets.HCL_GCP_PROJECT_ID }}
          cd ../..