name: Deploy NetSuite GCP Functions

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy GCP functions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.HCL_GCP_CREDENTIALS }}'

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ secrets.HCL_GCP_PROJECT_ID }}

      - name: Deploy netsuite-middleware-function
        run: |
          cd poc_gcp_functions/netsuite_middleware_function
          cp -r ../common .
          gcloud functions deploy netsuite-middleware-function \
            --gen2 \
            --runtime=python311 \
            --trigger-http \
            --allow-unauthenticated \
            --entry-point=netsuite_handler \
            --region=us-central1 \
            --source=. \
            --memory=1GiB \
            --timeout=300s \
            --service-account=hcl-email-automation@${{ secrets.HCL_GCP_PROJECT_ID }}.iam.gserviceaccount.com \
            --set-env-vars GCP_PROJECT_ID=${{ secrets.HCL_GCP_PROJECT_ID }},PUBSUB_LOGGING_TOPIC=${{ vars.PUBSUB_LOGGING_TOPIC }}
          cd ../..

      # - name: Deploy main-queue-function
      #   run: |
      #     cd poc_gcp_functions/main_queue_function
      #     cp -r ../common .
      #     gcloud functions deploy main-queue-function \
      #       --gen2 \
      #       --runtime=python311 \
      #       --trigger-http \
      #       --allow-unauthenticated \
      #       --entry-point=main_queue_function \
      #       --region=us-central1 \
      #       --source=. \
      #       --memory=1GiB \
      #       --timeout=300s \
      #       --service-account=hcl-email-automation@${{ secrets.HCL_GCP_PROJECT_ID }}.iam.gserviceaccount.com \
      #       --set-env-vars GCP_PROJECT_ID=${{ secrets.HCL_GCP_PROJECT_ID }},PUBSUB_LOGGING_TOPIC=${{ vars.PUBSUB_LOGGING_TOPIC }}
      #     cd ../..

      # - name: Deploy email-permission-function
      #   run: |
      #     cd poc_gcp_functions/email_permission_function
      #     cp -r ../common .
      #     gcloud functions deploy email-permission-function \
      #       --gen2 \
      #       --runtime=python311 \
      #       --trigger-http \
      #       --allow-unauthenticated \
      #       --entry-point=http_handler \
      #       --region=us-central1 \
      #       --source=. \
      #       --memory=1GiB \
      #       --timeout=300s \
      #       --service-account=hcl-email-automation@${{ secrets.HCL_GCP_PROJECT_ID }}.iam.gserviceaccount.com \
      #       --set-env-vars GCP_PROJECT_ID=${{ secrets.HCL_GCP_PROJECT_ID }}
      #     cd ../..



      # - name: Deploy store-execution-log-function
      #   run: |
      #     cd poc_gcp_functions/store_execution_log_function
      #     cp -r ../common .
      #     gcloud functions deploy store-execution-log-function \
      #       --gen2 \
      #       --runtime=python311 \
      #       --trigger-topic=${{ vars.PUBSUB_LOGGING_TOPIC }} \
      #       --entry-point=pubsub_event \
      #       --region=us-central1 \
      #       --source=. \
      #       --memory=1GiB \
      #       --timeout=300s \
      #       --service-account=hcl-email-automation@${{ secrets.HCL_GCP_PROJECT_ID }}.iam.gserviceaccount.com \
      #       --set-env-vars GCP_PROJECT_ID=${{ secrets.HCL_GCP_PROJECT_ID }}
      #     cd ../..
          
      # - name: Deploy subscription-keeper-function
      #   run: |
      #     cd poc_gcp_functions/subscription_keeper_function
      #     cp -r ../common .
      #     gcloud functions deploy subscription-keeper-function \
      #       --gen2 \
      #       --runtime=python311 \
      #       --trigger-topic=${{ vars.PUBSUB_SUBSCRIPTION_KEEPER_TOPIC }} \
      #       --entry-point=subscription_manager \
      #       --region=us-central1 \
      #       --source=. \
      #       --memory=1GiB \
      #       --timeout=300s \
      #       --service-account=hcl-email-automation@${{ secrets.HCL_GCP_PROJECT_ID }}.iam.gserviceaccount.com \
      #       --set-env-vars GCP_PROJECT_ID=${{ secrets.HCL_GCP_PROJECT_ID }}
      #     cd ../..

#       - name: Deploy reply-message-function
#         run: |
#           cd poc_gcp_functions/reply-message-function
#           cp -r ../common .
#           gcloud functions deploy reply-message-function \
#             --gen2 \
#             --runtime=python311 \
#             --trigger-http \
#             --allow-unauthenticated \
#             --entry-point=http_handler \
#             --region=us-central1 \
#             --source=. \
#             --memory=1GiB \
#             --timeout=500s \
#             --service-account=hcl-email-automation@${{ secrets.HCL_GCP_PROJECT_ID }}.iam.gserviceaccount.com \
#             --set-env-vars GCP_PROJECT_ID=${{ secrets.HCL_GCP_PROJECT_ID }},PUBSUB_LOGGING_TOPIC=${{ vars.PUBSUB_LOGGING_TOPIC }}
#           cd ../..
